@charset "UTF-8";








.content_totalCount_section {
	margin-bottom: 12px;
}

.content_btn_section {
	margin-top: 20px;
	text-align: right;
}

.content_btn_section a {
	font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.subject_table {
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	text-align: center;
}



.tbl-type01 .image_wrap {
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    flex-basis: 40%;
}
.tbl-type01 .image_wrap img {
    width: 90%;
}

.tbl-type01 .name{
    flex-basis: 100%;
    text-align: left;
}
.tbl-type01 .info_td.name {
	display:flex;
	justify-content: start;
	align-items: center;
}

.cart_table {
	font-size: 14px;
	line-height: 20px;
}

.cart_table tr {
	height: 110px;
}

.price_td {
	padding-left: 5px;
}

.red_color {
	color: red;
}

.green_color {
	color: green;
}

.cart_table td {
	border-bottom: 1px solid #e7e7e7;
}

.quantity_td {
	position: relative;
	width: 42px;
	height: 25px;
	text-align: left;
	margin: 5px auto;
}

.quantity_input {
	width: 40px;
    border: none;
    text-align: center;
}

.quantity_box{display:flex;}
.quantity_btn {
	/* border: 1px solid #aaa; */
	color: #191919;
	width: 14px;
	background-color: #fff;
	font-weight: bold;
	font-size: 16px;
}



.quantity_modify_btn {
	position: absolute;
    top: 38%;
    left: 72%;
	border: 1px solid #d0d0d0;
	background-color: #fff;
	text-align: center;
	display: inline-block;
	padding: 5px 10px;
	margin-left: 10px;
	font-size: 11px;
	width: 50px;
	
}

.table_text_align_center {
	text-align: center;
}

.delete_btn {
    padding: 5px 20px;
    background-color: #252525;
    color: #fff;
    border: 1px solid #252525;
    font-size: 11px;

}

.content_total_section {
	background-color: rgb(243 243 243);
}

.total_wrap {
	width: 80%;
	margin: auto;
	padding: 40px 0;
}

.total_wrap h2{
	font-size: 23px;
    padding: 20px 0;
    font-weight: 500;
    border-bottom: 1px solid #d1d0d0;
    margin-bottom: 20px;
    
}

.finalTotalPrice_span {
    font-size: 23px;
    color: #e82222;
    font-weight: 600;
}

.all_check_input {
	margin: 18px 0 18px 18px;
}

.all_chcek_span {
	padding-left: 8px;
	font-size: 20px;
	font-weight: bold;
}

/* 이미지 */
