q@charset "UTF-8";
/* ======================== 공통 ======================== */
.wrapper { width: 100%; } 
.wrap { } 
.inner { max-width:1200px; margin: 0 auto; } 

header { background: #0b514e; padding: 2rem 0; margin-bottom: 2rem; } 
/* 로고 */
.logo { text-align: center; color: #f8ff98; } 
.logo a { font-size:50px; } 

/* 페이지 제목 */
.subjecet { width: 100%; background-color: #8EC0E4; } 
.subjecet span { margin-left: 31px; color: white; } 

.input_wrap { margin: 18px 0 0; } 
.input_wrap > * {
    color: #95b0af;
}
.input_label { padding: 10px 0; display: block; font-size: 15px; } 
.input_box { position: relative; margin-bottom:20px; } 


/* BUTTON 관련 */
.button_wrap { margin: 30px auto; text-align: center;} 
.btn_border { display: inline-block; text-align: center; border: 1px solid #191919; margin-right: 2px; padding: 10px 20px; } 
.btn_black { display: inline-block; border:1px solid #191919; text-align: center; padding: 10px 20px; background-color: #191919; color: #fff; border: 1px solid #191919; } 
.btn_black:hover { color:#fff; } 

/* FORM 관련 */
.input { width: 100%; height: 45px; padding: 0 30px 0 10px; background: transparent; border-bottom: 1px solid #191919; } 


/* ======================== table ======================== */
.tbl-type01 th {
    padding: 15px 0;
    text-align: center;
}

.tbl-type01 td {
    padding: 10px;
    border-top: 1px solid #9aa7c0;
    text-align: center;
}

.tbl-type02 th{
	padding: 15px 0;
	
}




/* ======================== header ======================== */
.top_sidemenu { display:flex; flex-direction: row-reverse; /* padding: 1em; */ } 
.top_sidemenu ul { display: flex; justify-content: space-between; } 
.top_sidemenu ul li { color: #99d0cd; font-size: 14px; font-weight: 400; line-height: 22px; position: relative; padding: 0 9px 0 8px; } 

/* .top_sidemenu ul li:first-child:before { background: #bcbcbc; content: ""; display: block; height: 12px; position: absolute; right: 0; top: 6px; width: 1px; } */
.top_sidemenu ul li::before { background: #99d0cd; content: ""; display: block; height: 10px; position: absolute; right: 0; top: 7px; width: 1px; } 
.top_sidemenu ul li:last-child::before { content: none; } 
 
.top_sidemenu ul li i::before { padding-right:6px; } 
.top_sidemenu ul li a { } 
.top_menu { display:flex; justify-content: space-between; align-items: center; /* background: #006561; */padding: 1rem; } 


.top_gnb_area { width: 100%; background-color: #f0f0f1; } 
.top_gnb_area .list { display: flex; flex-direction: row-reverse; } 
.top_gnb_area .list li { list-style: none; padding: 15px; font-weight: 900; } 

.top_area { width: 100%; display: flex; justify-content: space-between; margin: 20px auto; } 


/* 제품 목록 네비 */
.navi_bar_area { display:flex; background-color: transparent; } 

.dropdown { } 
.dropdown .dropbtn { font-size: 16px; font-weight: bold; border: none; outline: none; padding: 14px 16px; background-color: inherit; font-family: inherit; margin: 0; } 
.dropdown-content { display: none; position: absolute; background-color: #f9f9f9; box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); z-index: 1; } 
.dropdown:hover .dropdown-content { display: block; } 
.dropdown-content a { font-size: 16px; color: black; padding: 12px 16px; text-decoration: none; display: inline-block; text-align: left; } 
.navi_bar_area a:hover,
.dropdown:hover .dropbtn { color: #fff; } 
.dropdown-content a:hover { background-color: #0c514e; } 




/* 검색 */
.search_wrap { position: relative; } 
.search_wrap select { color: #99d0cd;height: 45px; border-radius: 0; background: transparent; border: none; /* border-radius: 10px; */border-bottom: 1px solid #52c0ba; } 


.search_wrap input {color:#52c0ba;border-bottom:1px solid #52c0ba} 


#searchForm { display: flex; justify-content: end; align-items: center; } 

.search_input { } 
.search_input select { } 
.search_input input { } 
.search_btn { position: absolute; right: 20px; top: 50%; transform: translateY(-50%); font-size: 13px; background-color: inherit; border: unset; outline: none; } 
.search_btn i { color: #52c0ba; } 





/* ======================== 로그인 회원가입 ======================== */


.mem_wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; } 
.mem_wrap .mem_box { display: block; position: relative; top: auto; right: auto; width: 700px; } 
.mem_wrap .mem_box .logo { padding:40px 0; font-size: 50px; font-weight:600; } 



.button_wrap .login_button, .join_button { background-color: #252525; color: #fff; } 


/* 로그인 실패시 경고글 */
.mem_wrap .mem_box .login_warn { margin-top: 30px; text-align: center; color: red; } 


/* 회원가입 */

.mail_check_button { position: absolute; top:0; right:0; } 
.mail_check_button span { background: #191919; color: #fff; padding: 13px; box-sizing: border-box; display: inline-block; } 

.address_input_1_wrap { position: relative; display:flex; } 
.address_button { } 
.address_button span { background: #191919; color: #fff; padding: 13px; box-sizing: border-box; display: inline-block; cursor: pointer; } 


/* 유효성 검사 문구*/


/* 중복아이디 존재하지 않는경우 */
.id_input_re_1 { color : green; display : none; } 
/* 중복아이디 존재하는 경우 */
.id_input_re_2 { color : red; display : none; } 

.final_id_ck { display: none; } 
.final_pw_ck { display: none; } 
.final_pwck_ck { display: none; } 
.final_name_ck { display: none; } 
.final_mail_ck { display: none; } 
.final_addr_ck { display: none; } 

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1 { color : green; display : none; } 
.pwck_input_re_2 { color : red; display : none; } 


span.final_id_ck { display: none; } 
span.final_pw_ck { display: none; } 
span.final_pwck_ck { display: none; } 
span.fianl_name_ck { display: none; } 
span.final_mail_ck { display: none; } 
span.final_addr_ck { display: none; } 

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1 { color: green; display: none; } 

.pwck_input_re_2 { color: red; display: none; } 


/* 아이디 영역 */


/* 비밀번호 영역 */

/* 비밀번호 확인 영역 */

/* 이름 영역 */

/* 메일 영역 */

/* 메일인증*/

/* 이메일 */

/* 주소 영역 */



/* 검색결과 없음 */
.table_empty { height: 50px; text-align: center; margin: 200px 0 215px 0px; font-size: 25px; } 

/* 검색결과 상품 표 */
.list_search_result { width: 90%; margin: auto; } 
.list_search_result td { padding: 30px 0; } 

.list_search_result td.detail { padding-left: 1rem; } 
.type_list { width: 100%; border-bottom: 1px solid #e7e7e7; border-collapse: collapse; } 

.type_list tr { height: 200px; border-bottom: 1px solid #e7e7e7; } 

.detail .point { margin-bottom: 5px; } 

.category { font-size: 12px; font-weight: 600; } 

.title { font-size: 20px; font-weight: 700; } 

.author { font-size: 14px; } 

.list_search_result .info { text-align: center; } 

.list_search_result .price { } 

.org_price del { font-size: 13px; } 

.sell_price strong { color: #da6262; font-size: 18px; } 




/* ======================== 검색하기 국내,국외 탭 필터정보 ======================== */

.search_filter { width: 90%; margin: auto; margin-top: 30px; margin-bottom: 50px; } 

.filter_button_wrap { width: 100%; } 

.filter_button_wrap button { width: 50%; } 

.filter_button { background-color: #04AA6D; border: 1px solid green; color: white; padding: 10px 24px; cursor: pointer; float: left; } 

.filter_button_wrap:after { content: ""; clear: both; display: table; } 

.filter_button_wrap button:not(:last-child) { border-right: none; } 

.filter_button:hover { background-color: #3e8e41; } 

.filter_active { background-color: #045d3c; } 

.filter_content { padding: 20px 50px 20px 50px; border: 1px solid gray; } 

.filter_a { display: block; } 

.filter_b { display: none; } 

/*============================= 메인 비주얼 =======================*/
.slick-prev { left: 160px; z-index: 9 !important; } 
.slick-next { right: 160px; z-index:9 !important; } 
.slide_div img { margin: auto; } 




/* ======================== 페이지 버튼 인터페이스 ======================== */

.pageMaker_wrap { text-align: center; margin-top: 30px; margin-bottom: 40px; } 

.pageMaker { list-style: none; display: inline-block; } 

.pageMaker_btn { /* float: left; */width: 25px; height: 25px; /* line-height: 40px; */margin-left: 20px; } 

.active { border: 2px solid black; font-weight: 400; } 

.next,
.prev { border: 1px solid #ccc; padding: 0 10px; } 

.pageMaker_btn a:link { color: black; } 

.pageMaker_btn a:visited { color: black; } 

.pageMaker_btn a:active { color: black; } 

.pageMaker_btn a:hover { color: black; } 

.next a,
.prev a { color: #ccc; } 

/* ======================== content ======================== */

/* 홈페이지 메인 제품 목록 */
.content_area { width: 100%; min-height:500px; } 
.ls_div_content_wrap { padding: 50px 0; } 
/* .image_wrap { min-height: 335px; } */
.ls_txt { padding:10px; } 
.ls_wrap { margin: 4rem auto 6rem; padding: 0 10px 0 10px; } 
.ls_content { text-align:center; } 
.ls_div_content { margin-right: 10px; width: 65%; margin: 0 auto; } 
.ls_category { text-align: center; font-size: 13px; } 
.ls_rating { text-align: center; font-size: 13px; color: #e15b6e; } 
.ls_bookName { text-align: center; color: #333; font-size: 21px; font-weight: bold; } 
.ls_price { font-size: 14px; color: #aaaaaa; text-decoration: line-through; } 
.ls_total { font-size: 19px; } 

.ls_div_subject { font-weight: bold; font-size: 26px; padding-bottom: 10px; } 
.ls_div_content_prev { position: absolute; top: 32%; /* width: 50%; */
 /* height: 30px; */
 left: 0; /* font-weight: bold; */
 z-index: 999999; /* opacity: 100%; */
 background: #060606; color: #fff; border-radius: 50%; padding: 9px; } 
.ls_div_content_prev:hover { opacity: 80%; } 
.ls_div_content_next { position: absolute; top: 40%; width: 40px; height: 30px; right: 27px; font-weight: bold; z-index: 1; opacity: 35%; } 
.ls_div_content_next:hover { opacity: 80%; } 


/* ======================== 상품 상세 ======================== */

.content_wrap { margin: 5rem auto 10rem; } 
.content_wrap .inner { position: relative; background-color: #fff; padding: 3rem; border-radius: 20px; box-shadow: 0 50px 100px rgba(17, 20, 39, 0.20); } 

.content_subject {background-color: transparent; } 

.content_subject span {
	padding: 30px 0;
    display: inline-block;
    font-size: 30px;
}


.content_top { width: 100%; display: flex; justify-content: space-between; align-items:start; } 

.ct_img_area { } 
.ct_info_area { width: 60%; flex-basis: 40%; } 
.ct_info_area .title { border-bottom: 1px solid #191919; padding: 0 0 20px; } 
.ct_info_area .title span { font-size: 17px; } 
.ct_info_area .title h1 { font-size: 25px; } 
.ct_info_area .author { font-size: 16px; padding: 20px 0; } 
.ct_info_area .price { } 

.ct_info_area .discount_price_number { font-size: 22px; color: #f84450; font-weight: bold; } 
.ct_info_area .button { border-top: 1px solid #191919; margin-top: 50px; padding: 30px 0; } 
.ct_info_area .button_quantity { display: flex; align-items: end; align-items: center; margin-bottom: 40px; } 
.ct_info_area .button_quantity input { width: 150px; text-align: center; font-weight: bold; padding: 0; height: auto; } 
.ct_info_area .button_quantity button { border: 1px solid #aaa; width: 20px; height: 20px; font-weight: bold; font-size: 15px; line-height: 15px; } 

.content_middle { width: 100%; } 
.content_middle .book_intro { margin: auto; margin-top: 40px; } 

.content_middle .book_content { margin: auto; margin-top: 40px; margin-bottom: 40px; } 


/* 리뷰 영역 */
.content_bottom { border-top: 1px solid #cfcfcf; } 

.content_bottom .reply_button_wrap { padding: 10px 0; } 
.content_bottom .reply_button_wrap button { background-color: #0b514e; color: #fff; /* font-weight: bold; */font-size: 14px; padding: 5px 12px; cursor: pointer; padding: 10px 20px; } 
.content_bottom .reply_button_wrap button:hover { background-color: #0b514e; } 
.content_bottom .reply_content_ul { list-style: none; } 
.content_bottom .comment_wrap { position: relative; border-bottom: 1px dotted #d4d4d4; padding: 14px 0 10px 0; font-size: 12px; } 

/* 리뷰 머리 부분 */
.content_bottom .reply_top { padding-bottom: 10px; } 

.content_bottom .id_span { padding: 0 15px 0 3px; font-weight: bold; } 

.content_bottom .date_span { padding: 0 15px 0; } 

/* 리뷰 컨텐트 부분 */
.content_bottom .reply_bottom { padding-bottom: 10px; } 

/* 리뷰 선 */
.content_bottom .reply_line { width: 80%; margin: auto; border-top: 1px solid #c6c6cf; } 

/* 리뷰 제목 */
.content_bottom .reply_subject h2 { padding: 15px 0 5px 5px; font-size: 20px; } 

/* pageMaker */
.content_bottom .repy_pageInfo_div { text-align: center; margin-top: 30px; margin-bottom: 40px; } 

.pageMaker { list-style: none; display: flex; justify-content: center; } 

.pageMaker_btn { font-size: 10px; cursor: pointer; text-align: center; vertical-align: middle; } 

.active { border: 1px solid black; } 

.next,
.prev { border: 1px solid #ccc; padding: 0 10px; } 

/* 리뷰 없는 경우 div */
.reply_not_div { text-align: center; } 

.reply_not_div span { display: block; margin-top: 30px; margin-bottom: 20px; } 

/* 상세 내가 쓴 리뷰 수정 삭제 버튼 */
.reply_btn { display: inline-block; text-align: center; /* line-height: 20px; */
 margin: 0 5px; color: #fff; cursor: pointer; padding: 5px 15px; font-size: 12px; } 
.update_reply_btn { background-color: #383837; } 

.delete_reply_btn { /* font-weight: bold; */
 background-color: #f76161; } 



/* ======================== 상품 리뷰 ======================== */


/* 전체 배경화면 색상 */
 .wrapper_div { background-color: #f5f5f5; height: 100%; } 
 /* 팝업창 제목 */
 .subject_div { width: 100%; background-color: #0b514e; color: #fff; padding: 50px; font-size:24px; font-weight: bold; text-align: center; } 
 
 /* 컨텐츠, 버튼 영역 padding */
 
 .btn_wrap { padding: 5px 30px 30px 30px; text-align: center; } 
 
 /* 버튼 영역 
 .cancel_btn { margin-right:5px; display: inline-block; width: 130px; background-color: #5e6b9f; padding-top: 10px; height: 27px; color: #fff; font-size: 14px; line-height: 18px; } 
 .enroll_btn { display: inline-block; width: 130px; background-color: #7b8ed1; padding-top: 10px; height: 27px; color: #fff; font-size: 14px; line-height: 18px; } 
*/


/* 책제목 영역 */
.bookName_div h2 { margin : 0; } 
 /* 평점 영역 */
 .rating_div { padding-top: 10px; } ㄹ
 .rating_div h4 { margin : 0; } 
 /* 리뷰 작성 영역 */
 .content_div { padding-top: 10px; } 
 .content_div h4 { margin : 0; } 
 textarea { width: 100%; height: 100px; border: 1px solid #dadada; padding: 12px 8px 12px 8px; font-size: 15px; color: #a9a9a9; resize: none; margin-top: 10px; } 



/* =========================== 주문하기 ===============================*/

.order_wrap{display:flex;}

/* 사용자 정보 */
.memberInfo_table {width: 100%;border-spacing: 0;border-top: 2px solid #363636;border-bottom: 1px solid #b6b6b6; } 

.member_info_div td {padding: 12px;text-align: left; } 

/* 사용자 정보 */
.memberInfo_table {width: 100%;border-spacing: 0;border-top: 2px solid #363636;border-bottom: 1px solid #b6b6b6; } 
.member_info_div td {padding: 12px;text-align: left; } 


/* 사용자 주소 정보 */
.addressInfo_div {} 


.addressInfo_button_div{display:flex;}

.address_btn {background-color: #555;color: #fff; border: none;outline: none;cursor: pointer;padding: 14px 16px;font-size: 17px;width: 50%; } 
.address_btn:hover {background-color: #777; } 
.address_btn_1 { background: #191919;}

.addressInfo_input {padding: 12px;text-align: left;display: none;line-height: 40px; } 

/* 우편번호 */
.address_postcode {
    display: flex;
    align-items: end;
}

.addressInfo_input_div_2 input {
	padding: 6px 5px;
    width: 100%;
    height: 45px;
    padding: 0 30px 0 10px;
    border-bottom: 1px solid #5a5a5a;
	} 

.address_search_btn {	
vertical-align: middle;
    display: inline-block;
    border: 1px solid #aaa;
    width: 90px; 
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    } 

.order_goods {margin-top:30px; } 
.goods_kind_div {font-size: 25px; line-height: 35px; font-weight: bold; } 



/* 포인트 영역 */
.point_wrap {margin-top: 30px; margin-bottom: 50px; } 
.point_table {border-color: #ddd; border-spacing: 0; border-top: 1px solid #363636; border-bottom: 1px solid #b6b6b6; } 
.point_table th {border-color: #ddd; vertical-align: top; text-align: center; color: #333333; background: #fbfbfb; text-indent: 0; padding: 12px 5px 12px 20px; font-size: 15px; line-height: 20px; } 
.point_table_td {border-color: #ddd; text-align: left; color: #333333; padding: 8px 15px; } 
.order_point_input_btn {vertical-align: middle; display: inline-block; border: 1px solid #aaa; width: 60px; text-align: center; height: 20px; line-height: 20px; color: #555; cursor: pointer; font-size: 12px; } 


/* 주문 종합 정보 */
.total_info_wrap {
	background: #ededed;
	min-width: 350px;
	height: 500px;
	margin-left: 6%;
	box-shadow: 0 50px 100px rgba(17, 20, 39, 0.40);
	border-radius: 15px;
	padding: 30px;
	}

.total_info_wrap h2{font-size:30px; border-bottom: 1px solid #ccc; padding: 10px 0;}
.total_info_wrap .total_info_price {width: 90%; margin: 20px auto; position: relative; } 
.total_info_wrap ul {list-style: none; } 
.total_info_wrap li {display: flex; justify-content: space-between; border-bottom: 1px dashed #cdcaca; padding: 12px 0; } 

.price_span_label {font-size: 17px; } 
.price_total_li {border-top: 1px solid #ddd;padding-top: 20px; } 
.strong_red {color: red; } 
.total_price_red {font-size: 25px; } 
.total_price_label {margin-top: 5px; } 
.point_li { padding: 15px; border-top: 1px solid #ddd;  } 
.total_info_btn_div {border-top: 1px solid #ddd; text-align: center; padding: 15px 20px; } 
.order_btn { display: inline-block;  font-size: 21px; line-height: 50px; width: 200px; height: 50px; background-color: #191919; color: #fff; font-weight: bold; } 
.order_btn:hover {
    color: #fff;
}


/* ======================== footer ======================== */

.footer { width: 100%; padding: 30px 0; background-color: #2e2e2e; padding-bottom: 50px; } 

.footer_container { width: 100%; height: 100%; margin: auto; color:#fff; } 
.foot_box * { color: #fff; } 
.foot_box h2 { } 
.foot_box address { } 
.foot_box p { } 
.foot_box span { } 
