@charset "UTF-8";


/*============================= 메인 비주얼  =======================*/


.slick-prev{left: 160px; z-index: 9 !important; }
.slick-next{ right: 160px;z-index:9 !important;}
.slide_div img{ margin: auto; }
.image_wrap img{ max-width: 85%; height: auto; display: block; margin: auto;}


/*============================= 평점순 상품 노출  =======================*/

.ls_wrap{
    margin: 30px 0 30px 0;
    padding: 0 10px 0 10px;
}
.ls_div_content{
	width: 80%;
    margin: auto;
    border: 1px solid #dadada;
}
.image_wrap{
	width: 80%;
    height: 60%;
    margin: auto;
    padding: 5% 0 5% 0;
    display: flex;
    align-items: center;    
}
.ls_category{
	text-align: center;
    font-size: 13px;
    color: #3e74ab;
}
.ls_rating{
	text-align: center;
    font-size: 13px;
    color: #e15b6e;
}
.ls_bookName{
	text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.ls_div_subject{
	font-weight: bold;
	font-size: 26px;
	padding-bottom: 10px;
}



.ls_div_content_prev{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    left: 27px;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}
.ls_div_content_prev:hover{
   opacity: 80%;
}
.ls_div_content_next{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    right: 27px;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}
.ls_div_content_next:hover{
   opacity: 80%;
}



/*============================= 상품 상세 =======================*/
.content_top { width: 100%; height: 400px; } 

.content_top:after { content: ""; clear: both; display: table; } 

.ct_left_area { float: left; width: 30%; height: 100%; } 

.image_wrap { height: 80%; width: 80%; margin: auto; top: 10%; position: relative; } 

.image_wrap img { max-width: 100%; height: auto; display: block; } 

.line { width: 100%; border-top: 1px solid #c6c6cf; } 

.ct_right_area { float: left; width: 70%; height: 100%; } 

.title { height: 28%; font-size: 17px; line-height: 110px; color: #3a60df; padding-left: 3%; } 

.author { font-size: 16px; line-height: 50px; padding-left: 3%; } 

.price { line-height: 30px; padding: 2% 0 2% 3%; } 

.discount_price_number { line-height: 30px; font-size: 22px; color: #f84450; font-weight: bold; } 

.button { padding: 2% 0 2% 3%; } 

.button_quantity { margin-bottom: 2%; } 

.button_quantity input { height: 26px; width: 40px; text-align: center; font-weight: bold; } 

.button_quantity button { border: 1px solid #aaa; color: #3a60df; width: 20px; height: 20px; padding: 3px; background-color: #fff; font-weight: bold; font-size: 15px; line-height: 15px; } 

.btn_cart { display: inline-block; width: 140px; text-align: center; height: 50px; line-height: 50px; background-color: #5e6b9f; border: 1px solid #5e6b9f; color: #fff; margin-right: 2px; } 

.btn_buy { display: inline-block; width: 140px; text-align: center; height: 50px; line-height: 50px; background-color: #7b8ed1; border: 1px solid #7b8ed1; color: #fff; } 

.content_middle { width: 100%; min-height: 600px; } 

.book_intro { width: 80%; margin: auto; margin-top: 40px; } 

.book_content { width: 80%; margin: auto; margin-top: 40px; margin-bottom: 40px; } 

/* 리뷰 */
.reply_button_wrap { padding: 10px; } 

.reply_button_wrap button { background-color: #365fdd; color: white; font-weight: bold; font-size: 15px; padding: 5px 12px; cursor: pointer; } 

.reply_button_wrap button:hover { background-color: #1347e7; } 

/* 리뷰 영역 */
.content_bottom { width: 80%; margin: auto; } 

.reply_content_ul { list-style: none; } 

.comment_wrap { position: relative; border-bottom: 1px dotted #d4d4d4; padding: 14px 0 10px 0; font-size: 12px; } 

/* 리뷰 머리 부분 */
.reply_top { padding-bottom: 10px; } 

.id_span { padding: 0 15px 0 3px; font-weight: bold; } 

.date_span { padding: 0 15px 0; } 

/* 리뷰 컨텐트 부분 */
.reply_bottom { padding-bottom: 10px; } 

/* 리뷰 선 */
.reply_line { width: 80%; margin: auto; border-top: 1px solid #c6c6cf; } 

/* 리뷰 제목 */
.reply_subject h2 { padding: 15px 0 5px 5px; font-size: 20px; } 

/* pageMaker */
.repy_pageInfo_div { text-align: center; margin-top: 30px; margin-bottom: 40px; } 

.pageMaker { list-style: none; display: inline-block; } 

.pageMaker_btn { float: left; width: 25px; height: 25px; line-height: 25px; margin-left: 20px; font-size: 10px; cursor: pointer; } 

.active { border: 2px solid black; font-weight: 400; } 

.next,
.prev { border: 1px solid #ccc; padding: 0 10px; } 

/* 리뷰 없는 경우 div */
.reply_not_div { text-align: center; } 

.reply_not_div span { display: block; margin-top: 30px; margin-bottom: 20px; } 

/* 리뷰 수정 삭제 버튼 */
.update_reply_btn { font-weight: bold; background-color: #b7b399; display: inline-block; width: 40px; text-align: center; height: 20px; line-height: 20px; margin: 0 5px 0 30px; border-radius: 6px; color: white; cursor: pointer; } 

.delete_reply_btn { font-weight: bold; background-color: #e7578f; display: inline-block; width: 40px; text-align: center; height: 20px; line-height: 20px; border-radius: 6px; color: white; cursor: pointer; } 

/* footer navai 영역 */
