@charset "UTF-8";

/*============================= 메인 비주얼 =======================*/
.slick-prev { left: 160px; z-index: 9 !important; } 
.slick-next { right: 160px; z-index:9 !important; } 
.slide_div img { margin: auto; } 


/* ======================== content ======================== */


/* 홈페이지 메인 제품 목록 */
.content_area { width: 100%; min-height:500px; } 
.ls_div_content_wrap { padding: 50px 0;}
.ls_txt{padding:10px;}
.ls_wrap { margin: 4rem auto 6rem; padding: 0 10px 0 10px; } 
.ls_content{text-align:center;}
.ls_div_content {margin-right: 10px;width: 65%; margin: 0 auto;} 
.ls_category {text-align: center; font-size: 13px; } 
.ls_rating {text-align: center; font-size: 13px; color: #e15b6e; } 
.ls_bookName {text-align: center;color: #333;font-size: 21px;font-weight: bold;} 
.ls_price {font-size: 14px;color: #aaaaaa;text-decoration: line-through;}
.ls_total {font-size: 19px;}

.ls_div_subject {font-weight: bold;font-size: 26px;padding-bottom: 10px; } 
.ls_div_content_prev {     position: absolute;
    top: 32%;
    /* width: 50%; */
    /* height: 30px; */
    left: 0;
    /* font-weight: bold; */
    z-index: 999999;
    /* opacity: 100%; */
    background: #060606;
    color: #fff;
    border-radius: 50%;
    padding: 9px; } 
.ls_div_content_prev:hover { opacity: 80%; } 
.ls_div_content_next { position: absolute; top: 40%; width: 40px; height: 30px; right: 27px; font-weight: bold; z-index: 1; opacity: 35%; } 
.ls_div_content_next:hover { opacity: 80%; } 



