@charset "UTF-8";

.content_main {
	position: relative;
	min-height: 700px;
	padding-right: 350px;
}

table {
	border-collapse: collapse;
}

/* 사용자 정보  */
.memberInfo_table {
	width: 100%;
	border-spacing: 0;
	border-top: 2px solid #363636;
	border-bottom: 1px solid #b6b6b6;
}

.member_info_div td {
	padding: 12px;
	text-align: left;
}

/* 사용자 정보  */
.memberInfo_table {
	width: 100%;
	border-spacing: 0;
	border-top: 2px solid #363636;
	border-bottom: 1px solid #b6b6b6;
}

.member_info_div td {
	padding: 12px;
	text-align: left;
}
/* 사용자 주소 정보 */
.addressInfo_div {
	margin-top: 30px;
}

.addressInfo_input_div_wrap {
	border-bottom: 1px solid #f3f3f3;
	height: 225px;
}

.address_btn {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 50%;
}

.address_btn:hover {
	background-color: #777;
}

.addressInfo_button_div::after {
	content: '';
	display: block;
	clear: both;
}

.addressInfo_input_div {
	padding: 12px;
	text-align: left;
	display: none;
	line-height: 40px;
}

.addressInfo_input_div th {
	border-color: transparent;
	background-color: transparent;
}

.addressInfo_input_div th {
	padding: 12px 5px 12px 20px;
	vertical-align: top;
}

.addressInfo_input_div td {
	padding: 8px 12px;
}

.addressInfo_input_div_2 input {
	padding: 6px 5px;
}

.address_search_btn {
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #aaa;
	width: 90px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: #555;
	cursor: pointer;
}

.orderGoods_div{
	margin-top:30px;
}
.goods_kind_div{
	font-size: 25px;
    line-height: 35px;
    font-weight: bold;
}
.goods_subject_table{
	font-size: 14px;
    line-height: 20px;
    width: 100%;
    text-align: center; 
}
.goods_subject_table th{
	text-align: center;
    color: #333;
    border-bottom: 1px solid #e7e7e7;
    border-top: 2px solid #3084d9;
    background: #f4f9fd;
    padding: 2px 0;	 
}
.goods_table{
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px solid #e7e7e7;
}

.goods_table tr{
height: 110px;
}
.goods_table_price_td{
	text-align: center;
}


/* 포인트 영역 */
.point_div{
	margin-top: 30px;
    margin-bottom: 50px;
}
.point_div_subject{
	font-size: 25px;
    line-height: 35px;
    font-weight: bold;
}
.point_table{
	border-color: #ddd;
    border-spacing: 0;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #b6b6b6;
}
.point_table th{
	border-color: #ddd;
    vertical-align: top;
    text-align: center;
    color: #333333;
    background: #fbfbfb;
    text-indent: 0;
    padding: 12px 5px 12px 20px;
    font-size: 15px;
    line-height: 20px;
}
.point_table_td{
	border-color: #ddd;
    text-align: left;
    color: #333333;
    padding: 8px 15px;
}
.order_point_input_btn{
	vertical-align: middle;
    display: inline-block;
    border: 1px solid #aaa;
    width: 60px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #555;
    cursor: pointer;
    font-size: 12px;
}


/* 주문 종합 정보 */
/* .total_info_div{
	position:absolute;
	top: 0;
	right : 0;
	width : 300px;
	border : 1px solid #333;
	border-top-width:2px;	
	
}
.total_info_price_div{
	width: 90%;
    margin: auto;
	position: relative;
}
.total_info_div ul{
	list-style: none;
}
.total_info_div li{
	text-align: right;
	margin-top:10px;
}
.price_span_label{
	float: left;
}
.price_total_li{
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
.strong_red{
	color: red;
}
.total_price_red{
	font-size: 25px;
}
.total_price_label{
	margin-top: 5px;
}
.point_li{
    padding: 15px;
    border-top: 1px solid #ddd;
    margin: 10px -15px 0;
}
.total_info_btn_div{
	border-top: 1px solid #ddd;
    text-align: center;
    padding: 15px 20px;
}
.order_btn{
    display: inline-block;
    font-size: 21px;
    line-height: 50px;
    width: 200px;
    height: 50px;
    background-color: #365fdd;
    color: #fff;
    font-weight: bold;
} */

