@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 16px; line-height: 24px; font-style: normal; 
    font-weight: 400; vertical-align: baseline; 
    line-height: 1.2; letter-spacing: -1px; color: #191919;
    font-family:"Noto Sans KR", "Montserrat", sans-serif,"맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;} 


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; } 
body { line-height: 1; } 
ol, ul { list-style: none; } 
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
input:focus { outline: none; } 
a { color: inherit; text-decoration: none; } 


.blind,.hidden { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0 } 

[lang="ko"] {font-family: "Noto Sans KR", "Montserrat", sans-serif,"맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;}
[lang="en"] {font-family: "Montserrat", "Noto Sans KR", sans-serif; letter-spacing: 0;  font-weight: 400;}




*,
:after,
:before,
html { box-sizing: border-box } 

img { width: 100%; max-width: 100%; vertical-align: top } 

li,
ol,
ul { list-style: none } 

blockquote,
q { quotes: none } 

blockquote:after,
blockquote:before,
q:after,
q:before { content: none } 

table { width: 100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed } 

caption,
figcaption { width: 100%; height: 1px; text-indent: -9999px;font-size: 0; margin-top: -1px;line-height: 0 } 

legend { display: block;overflow: hidden; position: absolute; left: -9999px; text-indent: 9999px; width: 0; height: 0; white-space: nowrap } 
textarea { resize: none } 

input { -moz-appearance: none; appearance: none; border-radius: 0 } 
button { margin: 0; padding: 0; border: 0; background: 0; outline: none } 

button,
input { -webkit-appearance: none } 

a, a *,
button { cursor: pointer;text-decoration: none; } 
a,
em,
span,
strong { font-size: inherit; font-style: normal } 
a, a:focus, a:hover { color: inherit; text-decoration: none } 


pre { white-space: pre-wrap } 
hr { margin: 0; padding: 0; border: 0; outline: 0 } 

input[type=checkbox],
input[type=radio] { opacity: 1; width: 13px; height: 13px; margin: 0; cursor: pointer } 

sup { vertical-align: super; font-size: .5em } 

input::-webkit-search-cancel-button { display: none } 
input:-webkit-autofill { box-shadow: inset 0 0 0 1000px rgb(0, 0, 0) } 



html:not(.mobile) {
    scrollbar-3dLight-Color: #ddd;
    scrollbar-arrow-color: #ddd;
    scrollbar-base-color: #eee;
    scrollbar-Face-Color: #f2f2f2;
    scrollbar-Track-Color: #fff;
    scrollbar-DarkShadow-Color: #ddd;
    scrollbar-Highlight-Color: #ddd;
    scrollbar-Shadow-Color: #f2f2f2;
}
html:not(.mobile) ::-webkit-scrollbar {
    width: 5px;
}
html:not(.mobile) ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #ddd;
    -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 2%);
}
html:not(.mobile) ::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    border-radius: 0;
}

html:not(.mobile) ::selection {
    background: #f7fafe;
    color: #08dbc7;
    text-shadow: none;
}