@charset "UTF-8";






/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap { width: 80%; float:left; min-height: 700px; } 
.admin_content_subject { /* 관리자 컨텐츠 제목 영역 */
 font-size: 40px; font-weight: bolder; padding-left: 15px; background-color: #6AAFE6; height: 80px; line-height: 80px; color: white; } 
/* 관리자 컨텐츠 메인 영역 */
.form_section {width: 95%; margin-left: 2%; margin-top: 20px; border: 1px solid #dbdde2; background-color: #efefef; } 
.form_section_title {padding: 20px 35px; } 
.form_section_title label {display: block; font-size: 20px; font-weight: 800; } 
.form_section_content {padding: 20px 35px; border-top: 1px solid #dbdde2; } 
.form_section_content input {width: 98%; height: 25px; font-size: 20px; padding: 5px 1%; } 


.ui-datepicker-trigger { /* 캘린더 css 설정 */
 margin-left: 25px; width: 14%; height: 38px; font-weight: 600; background-color: #dfe8f5; font-size: 15px; cursor:pointer; } 
input[name='publeYear'] { width: 80%; text-align: center; } 


.authorId_btn { /* 작가 선택 css 설정 */
 margin-left: 20px; width: 14%; height: 38px; font-weight: 600; background-color: #dfe8f5; font-size: 15px; cursor:pointer; } 
#authorName_input { width: 80%; text-align: center; } 

.ck-content { /* ckeditor 높이 */
 height: 170px; } 

/* 상품 이미지 */
#result_card img {max-width: 100%; height: auto; display: block; padding: 5px; margin-top: 10px; margin: auto; } 
#result_card {position: relative; } 
.imgDeleteBtn { position: absolute; top: 0; right: 5%; background-color: #ef7d7d; color: wheat; font-weight: 900; width: 30px; height: 30px; border-radius: 50%; line-height: 26px; text-align: center; border: none; display: block; cursor: pointer; } 

/* 버튼 영역 */
.btn_section {text-align: center;margin: 80px 0; } 
.btn { min-width: 180px; padding: 4px 30px; font-size: 25px; font-weight: 600; line-height: 40px; } 
.enroll_btn {background-color: #dbdde2;margin-left:15px; } 
#enrollBtn:hover { background-color: #c9cbd0; } 
.delete_btn {background-color: #efcdcd; } 
.delete_btn:hover {background-color : #e4a7a7; } 

.form_section_content select { /* 카테고리 css 설정 */
 width: 92%; height: 35px; font-size: 20px; text-align-last: center; margin-left: 5px; } 
.cate_wrap span { font-weight: 600; } 
.cate_wrap:not(:first-child) { margin-top: 20px; } 


.ck_warn { /* 입력란 공란 경고 태그 */
display: none; padding-top: 10px; text-align: center; color: #e05757; font-weight: 300; } 

