@charset "UTF-8";




/* 홈페이지 기능 네비 */ 
.top_gnb_area { width: 100%; height: 50px; background-color: #f0f0f1; position:relative; } 
.top_gnb_area .list { position: absolute; top: 0px; right: 0; }
.top_gnb_area .list li { list-style: none; float : left; padding: 13px 15px 0 10px; font-weight: 900; cursor: pointer; } 
 
/* 관리제 페이지 상단 현페이지 정보 */
.admin_top_wrap { height:110px; line-height: 110px; background-color: #5080bd; } 
.admin_top_wrap>span { margin-left: 30px; display:inline-block; color: white; font-size: 50px; font-weight: bolder; } 
/* 관리자 wrap(네비+컨텐츠) */
.admin_wrap { }
 
/* 관리자페이지 네비 영역 */
.admin_navi_wrap { width: 100%; height: 300px; 
 height: 100%; } 
.admin_navi_wrap li { display: block; height: 80px; line-height: 80px; text-align: center; } 
.admin_navi_wrap li a { display: block; height: 100%; width: 95%; margin: 0 auto; cursor: pointer; font-size: 30px; font-weight: bolder; } 
/* 
.admin_list_01 { background-color: #c8c8c8; } */
 
 
/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap { width: 80%; float:left; height: 700px; }
.admin_content_wrap > div { text-align: center; font-size: 21px; font-weight: bolder; } 


/* 작가 목록 영역 */
.author_table_wrap {padding: 20px 35px}
.author_table {width: 100%; border: 1px solid #d3d8e1; text-align: center; border-collapse: collapse; } 
.author_table td {padding: 10px 5px;border : 1px solid #e9ebf0; } 
.author_table thead {background-color: #f8f9fd;font-weight: 600; } 
.th_column_1 {width:120px; } 
.th_column_3 {width:110px; } 
.th_column_4 {width:140px; } 
.th_column_5 {width:140px; } 
 

 